@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  background: #011936; 
  font-family: 'Open Sans', sans-serif; 
}




.form{
  margin-top: 200px;
}

.card{
  width: 18rem;
}

.weather{
  margin-top: 25px;
}
.btn{
  float: right !important;
  background: #ED254E !important;
}

.subtext{
  color: white !important;
}

.title{
  margin-top : 12px;
  color: white !important;
  font-weight: bold !important;
  font-size: 10rem !important;
}

